$color_default: #4b4b4b;
$color_root: #a2efa1;
$color_harmonic_1: #f0a1a1;
$color_harmonic_2: #f0efa1;
$color_harmonic_3: #f0ada8;
$color_relation_1: #a2a1ef;
$color_relation_2: #a2efef;
$color_relation_3: #f0a1ef;


.btn-enable-audio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.music-tree-interface {
    width: 340px;
    height: 640px;
    // border: 1px solid;
    position: absolute;
    margin: 30px auto;
    left: 50%;
    transform: translateX(-50%);
}

.btn-note {
    width: 90px;
    height: 90px;
    border-radius: 60px;
    font-size: .875rem;
    color: #fff;
    background-color: $color_default;
    border: none;
    cursor: pointer;
    user-select: none;
    position: absolute;
    transform: translate(-50%, -50%);

    &.active {
        opacity: .8;
    }

    &.root {
        background-color: $color_root;
    }

    &.harmonic_1 {
        background-color: $color_harmonic_1;
    }

    &.harmonic_2 {
        background-color: $color_harmonic_2;
    }

    &.harmonic_3 {
        background-color: $color_harmonic_3;
    }

    &.relation_1 {
        background-color: $color_relation_1;
    }

    &.relation_2 {
        background-color: $color_relation_2;
    }

    &.relation_3 {
        background-color: $color_relation_3;
    }

    &[data-note="1"] {
        left: 50%;
        top: 50%;
        width: 120px;
        height: 120px;
    }

    &[data-note="1.5"] {
        left: 50%;
        top: 25%;
    }

    &[data-note="1.25"] {
        left: 91%;
        top: 37.5%;
        width: 60px;
        height: 60px;
    }

    &[data-note=".666"] {
        left: 50%;
        top: 75%;
    }    

    &[data-note="2.25"] {
        left: 50%;
        top: 0;
        width: 60px;
        height: 60px;        
    }

    &[data-note="1.2"] {
        left: 9%;
        top: 37.5%;
        width: 45px;
        height: 45px;
    }

    &[data-note=".833"] {
        left: 91%;
        top: 62.5%;
        width: 45px;
        height: 45px;
    }

    &[data-note="1.875"] {
        left: 91%;
        top: 12.5%;
        width: 45px;
        height: 45px;
    }

    &[data-note="1.8"] {
        left: 9%;
        top: 12.5%;
        width: 45px;
        height: 45px;
        transform: translate(0, -50%);
    }

    &[data-note="1.75"] {
        left: 9%;
        top: 12.5%;
        width: 45px;
        height: 45px;
        transform: translate(-100%, -50%);
    }    

    &[data-note=".8"] {
        left: 9%;
        top: 62.5%;
        width: 45px;
        height: 45px;
    }

    &[data-note="1.4"] {
        left: 150%;
        top: 75%;
        width: 45px;
        height: 45px;
    }

    &[data-note="1.6"] {
        left: 132%;
        top: 25%;
        width: 45px;
        height: 45px;
    }

    &[data-note="1.333"] {
        left: 173%;
        top: 37.5%;
        width: 60px;
        height: 60px;
    }

    &[data-note="2"] {
        left: 173%;
        top: 12.5%;
        width: 90px;
        height: 90px;
    }

    &[data-note="1.042"] {
        left: 132%;
        top: 50%;
        width: 45px;
        height: 45px;
    }

    &[data-note="1.666"] {
        left: 214%;
        top: 25%;
        width: 45px;
        height: 45px;
    }

    &[data-note=".96"] {
        left: -32%;
        top: 50%;
        width: 45px;
        height: 45px;
    }

    &[data-note="1.4"] {
        left: -32%;
        top: 25%;
        width: 45px;
        height: 45px;
    }    

    &[data-note="1.125"] {
        left: -73%;
        top: 37.5%;
        width: 45px;
        height: 45px;
    } 

    &[data-note=".75"] {
        left: -73%;
        top: 62.5%;
        width: 45px;
        height: 45px;
    }   
    
    &[data-note=".875"] {
        left: 173%;
        top: 62.5%;
        width: 45px;
        height: 45px;
    } 

    &[data-note=".625"] {
        left: -32%;
        top: 75%;
        width: 45px;
        height: 45px;
    } 

    &[data-note=".5"] {
        left: -73%;
        top: 87.5%;
        width: 90px;
        height: 90px;
    } 
}