$color_text_button: white;
$color_background_button: magenta;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.music-tree-wrap {
    display: flex;
    justify-content: center;
}

.music-tree {
    transform-origin: top left;
    transform: scale(var(--scale-factor, 1));
    user-select: none;
    
    .music-note {
        position: absolute;
        border-radius: 50%;
        border: none;
        background-color: magenta;
        color: $color_text_button;
        transform: translate(-50%, -50%);
        font-size: 1.125rem;
        font-weight: 600;

        &[data-ratio="1"] {
            font-size: 2.25rem;
        }
    }
}