$color_text_button: white;
$color_background_button: magenta;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.music-tree-wrap {
    display: flex;
    justify-content: center;
}

.music-tree {
    transform-origin: top left;
    transform: scale(var(--scale-factor, 1)) skew(0deg, -3deg);
    user-select: none;
    
    .music-note {
        position: absolute;
        border-radius: 50%;
        border: none;
        background-color: magenta;
        color: $color_text_button;
        transform: translate(-50%, -50%) skew(0deg, 3deg);
        font-size: 1.125rem;
        font-weight: 600;
        cursor: pointer;
        transition: opacity .2s ease;

        &[data-ratio="1"] {
            font-size: 2.25rem;
        }

        &[data-ratio="1"], &[data-ratio="0.5"], &[data-ratio="2"] {
            background-color: #ffffff;
            border: 3px solid magenta;
            color: magenta;
        }

        &:hover {
            opacity: .66;
        }        
    }

    .music-chord {
        position: absolute;
        width: 221px;
        height: 190.52px; /* Height based on the Pythagorean theorem for an equilateral triangle */
        background-color: yellow;
        border: none;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        cursor: pointer;
        transform: translate(-28.1%, -120%) rotate(-30deg);
        z-index: -1;  
        opacity: .33;
        transition: opacity .2s ease;
        
        &[data-quality="minor"] {
            background-color: cyan;
            transform: translate(-71.5%, -119.9%) rotate(30deg);
        }

        &:hover {
            opacity: .15;
        }
    }
}